<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mrinalkantiray.nilphamri">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/chapai__logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".geography">
            ঐতিহ্য
        </activity>
        <activity android:name=".Others">
            অন্যন্য
        </activity>
        <activity android:name=".Persons">
            প্রখ্যাত ব্যক্তিত্ব
        </activity>
        <activity android:name=".Administration">
            পুরাকীর্তি
        </activity>
        <activity android:name=".All_place">
            ভৌগোলিক অবস্থান
        </activity>
        <activity android:name=".Visiting">
            দর্শনীয় স্থান
        </activity>
        <activity android:name=".About">
            জেলা পরিচিতি
        </activity>
        <activity android:name=".DeveloperActivity" />
        <activity android:name=".namkoron" />
        <activity android:name=".eastPakistan" />
        <activity android:name=".language" />
        <activity android:name=".education" />
        <activity android:name=".religious" />
        <activity android:name=".tevagaAndolon" />
        <activity android:name=".gomvira" />
        <activity android:name=".economic" />
        <activity android:name=".mango"></activity>
    </application>

</manifest>